<div class="row">

<!-- Profile and Connections -->
<div class="col-md-3 text-center">
  <i class="fa fa-dot-circle-o fa-5x"></i>
 <hr>
  <p class=""><b><%= link_to 'Timezone:', edit_user_registration_path %> <%= Time.zone.name %></b></p>

  <hr>

  <div class="social">
    <% unless current_user.connections.where(provider: 'twitter').any? %>
      <%= link_to 'Connect with Twitter', '/auth/twitter', class: 'btn btn-info btn-block btn-sm' %>
    <% else %>
      <%= link_to 'Connect with Twitter', '/auth/twitter', class: 'btn btn-info btn-block btn-sm', disabled: true %>
      <%= link_to 'Delete Connection', connection_path(current_user.connections.where(provider: 'twitter').first), method: :delete %>
    <% end %>

    <% unless current_user.connections.where(provider: 'facebook').any? %>
    <%= link_to 'Connect with facebook', '/auth/facebook', class: 'btn btn-primary btn-block btn-sm' %>
    <% else %>
    <%= link_to 'Connect with facebook', '/auth/facebook', class: 'btn btn-primary btn-block btn-sm', disabled: true %>
    <%= link_to 'Delete Connection', connection_path(current_user.connections.where(provider: 'facebook').first), method: :delete %>
    <% end %>
  </div>

</div>
<!-- NEW POST AND SCHEDULE  -->
<div class="col-md-5">
  <h3>Scheduled Posts</h3>
  <hr>
  <%= render @scheduled %>
</div>
<!-- History -->

<div class="col-md-4">
  <h3>Post History</h3>
  <hr>
  <%= render @history %>
</div>

</div>
